*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url("images/man.jpg");
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: beige;
  background-position: center;
}
span {
  color: #0d5f0d;
}

.title {
  color: white;
  position: relative;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 45px;
  height: 300px;
  text-align: left;
}

h5 {
  font-size: 30px;
}

.App form {
  width: 200px;
  max-width: 100%;
  position: relative;
  top: 10px;
  float: right;

}

.App form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #0d5f0d;
  outline: none;
  border-radius: 30px;
}

.App form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #0d5f0d;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}

.flex{
  display: flex;
}

.justify-sb{
  justify-content: space-between;
}

.justify-evenly{
  justify-content: space-evenly;
}
.justify-center{
  align-items: center;
}
.bb{
  box-sizing: border-box;
}
.m-20{
  margin: 20px;
}
.mlr-20{
  margin: 0 20px;
}
.mtb-20{
  margin: 20px 0;
}
.m-10{
  margin: 10px;
}
.mlr-10{
  margin: 0 10px;
}
.mtb-10{
  margin: 10px 0;
}
.m-5{
  margin: 5px;
}
.mlr-5{
  margin: 0 5px;
}
.mtb-5{
  margin: 5px 0;
}
.p-5{
  padding: 5px;
}
.plr-5{
  padding: 0 5px;
}
.ptb-5{
  padding: 5px 0;
}
.p-10{
  padding: 10px;
}
.plr-10{
  padding: 0 10px;
}
.ptb-10{
  padding: 10px 0;
}
.p-20{
  padding: 20px;
}
.plr-20{
  padding: 0 20px;
}
.ptb-20{
  padding: 20px 0;
}